$Background:rgb(0, 0, 0);
$Text: rgb(255, 255, 255);
$Primary_Button: #311c60;
$Secondary_Button: #504ee4;
$Accent: #f0286e;
$spice: #ff3636;

$Heading_font:'Space Mono', monospace;
$paragraph_font:'Nova Mono', monospace;


.both{
    // height: 200vh;
    // width: 100%;
    overflow: hidden;
}
.clock{
    // scroll-snap-align: start;
    // background-color: aquamarine;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
}
.time{
    height: 300vh;
    width: 300vw;

    padding: 750px;
    margin: -750px;


    background-image: conic-gradient(white 10%,black );
    animation: rotateto 60s linear  infinite  ;

    
}
.name{
    
    
    width: 20vw;
    // background-color: #311c60;
    padding: 0% 15% 10% 1%;
    overflow: hidden;
   

    
    
    
    



    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    position: absolute;
    right: 0%;
    top: 10%;
    z-index: 2;
    .h2{
        
        font-family: $paragraph_font;

        width: 100%;
        text-align: start;
        font-size: 26px;
        // line-height: 52px;
        
        // font-weight: 800;
        // color: white;
    }
    .downn{
        
        width: 72vh;
        text-align: end;
    }
    

}
.tim{
    font-family: $Heading_font;
    font-size: 92px;
    line-height: 104px;
    

    // mix-blend-mode: difference;
    /*
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    */
    height: 40%;
    width: 100%;
    
    
    position: relative;
    top:-18%;
    // left: 10%;
    
    
}


@keyframes rotateto {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1440px) {
    .tim {
      font-size: 4rem;
    }
    
  }