$Background:rgb(0, 0, 0);
$Text: rgb(255, 255, 255);
$Primary_Button: #1ac9ff;
$Secondary_Button: #504ee4;
$Accent: #f0286e;

@mixin flx() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv{
    
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(313deg,#242424,#ffffff);
    // background-color: black;
    @include flx();
    
    
}
.cv_container{
    height: 80vh;
    width: 80%;
    background-image: linear-gradient(318deg,#1B1B23,#2E313A);
    @include flx();
}
.points{
    // background-color: rgb(97, 240, 157);
    height: 80vh;
    width: 19%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    
}
.write{
    // background-color: rgb(255, 186, 95);
    
    height: 80vh;
    width: 80%;
    position: relative;
}
.PDF{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
h1{
    z-index: 3;
    font-size: 2rem;
    color: rgb(255, 255, 255);

}
.headingofcv{
    color: white;
    padding: 4%;
    font-size: 5rem;
    // background-color: #000000;
}
.para{
    width: 70%;
    padding: 2%;
    // background-color: #1ac9ff;
    color: white;
}
li{
    background-color: #1B1B23;
    
    font-size: 2rem;
}