$Background: black;
$Text: #b7ab98;
$Primary_Button: #1ac9ff;
$Secondary_Button: #311c60;
$Accent: #f0286e;
.tyno {
  scroll-snap-align: start;
  scroll-margin: 5vh;
 
  // add image parallex here by add 2 pages here 200vh 
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 15rem;
}
.typoHead {
  
  
  height: 40vh;
  width: 100%;

  font-weight: 500;
  text-transform: capitalize;
  background-color: $Background;
  // background-image:radial-gradient($Background,$Secondary_Button);
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15rem;
  z-index: 2;
}
.hidden {
  height: 60vh;
  width: 100%;
  color: $Background;
  // background-color: #311c60
  ;
  text-shadow: 0px 8px 8px black;
  font-size: 20rem;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}






@media only screen and (max-width: 800px) {
  .typoHead {
    font-size: 2rem;
  }
  .hidden {
    font-size: 5rem;
    
  }
}
