$Background:rgb(0, 0, 0);
$Text: rgb(255, 255, 255);
$Primary_Button: #1ac9ff;
$Secondary_Button: #504ee4;
$Accent: #f0286e;

$Heading_font:'Space Mono', monospace;
$paragraph_font:'Nova Mono', monospace;


@mixin flx() {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cv{
    
    //  scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(313deg,#242424,#ffffff);
    // background-color: black;
    @include flx();
    z-index: 1;
    
}
.cv_container{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(318deg,#1B1B23,#2E313A);
    @include flx();
    z-index: 1;
    overflow: hidden;
}
.points{
    // background-color: rgb(97, 240, 157);
    height: 80vh;
    width: 19%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    
}
.HeadList {
    
    height: 20%;
    width: 80%;
    
}
.HeadList >li:nth-child(1){
    font-size: 26px;
}
.headcv {
    font-family: $Heading_font;

    font-size: 26px;

    line-height: 42px;
    
    color: rgb(255, 255, 255);

    list-style: circle;

}

.write{
    // background-color: rgb(255, 186, 95);
    
    height: 80vh;
    width: 80%;
    position: relative;
    
}

.profile{
    position: absolute;
    right: 0%;
    top: 10%;
    


    height: 660px;
    width: 565px;
    background-image: url(../../../assets/images/profile.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    filter: grayscale(1);
    
    transition: 2s ease;
    
    
    
}

.PDF{
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.headingofcv{
    
    color: white;
    font-family: $Heading_font;
    font-size: 110px;
    line-height: 110px;
    height: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #000000;
}
.para{
    width: 70%;
    padding: 2%;

    font-family: $paragraph_font;
    font-size: 26px;
    line-height: 42px;

    // background-color: #1ac9ff;
    color: white;
    
}
.para:hover ~ .profile{
    filter: grayscale(0);
    
}
li{
    background-color: #1B1B23;
    
    font-size: 2rem;
}
