$Accent: #fd343a;


$Heading_font:'Space Mono', monospace;
$paragraph_font:'Nova Mono', monospace;



.Down{
    border: solid black;
    color: black;
    font-size: 1rem;
    background-color: white;
    height: 5vh;   
    z-index: 5; 

    font-family: $Heading_font;
}
a{
    z-index: 5;
}