$Accent: #fd343a;


$Heading_font:'Space Mono', monospace;
$paragraph_font:'Nova Mono', monospace;



.Down{
    border: solid black;
    color: black;
    font-size: 1rem;
    background-color: white;
    height: 5vh; 
    width: 20vh;  
    z-index: 5; 

    font-family: $Heading_font;
}
a{
    z-index: 5;
}

@media only screen and (max-width: 1440px) {
    .Down {
      font-size: 1rem;
    }
    
  }

  @media only screen and (max-width:1920px) {
    .Down{
        width: 23vh;
    }
  }