$Background: rgb(0, 0, 0);
$Text: rgb(255, 255, 255);
$Primary_Button: #1ac9ff;
$Secondary_Button: #504ee4;
$Accent: #f0286e;
$spice: #ff3636;


$Heading_font:'Space Mono', monospace;
$paragraph_font:'Nova Mono', monospace;


.foot {
  height: 60vh;
  width: 100%;
   
  // background-color: rebeccapurple;
}



.message {
  height: 58vh;
  width: 100%;
  // background-color: $Primary_Button;
  border-top: solid lavender;
  display: flex;
  justify-content: center;
  align-items: center;
  .lspr {
    height: 100%;
    width: 60%;
    // background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    .letsstart {
      height: 20%;
      width: 80%;

      font-family: $Heading_font;
      font-size: 42px;

      color: white;
    }
    .send {
      height: 60%;
      width: 92%;
      // background-color: #1ac9ff;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      textarea {
        height: 100%;
        width: 60%;
        font-family: $paragraph_font;
        font-size: 26px;
        outline: none;
        color: white;
        background-color: $Background;
        border: solid white;
        z-index: 4;
      }
      button {
        height: 60%;
        width: 20%;
        background-color: $Background;

        color: white;

        border: solid;
        font-family: $Heading_font;
        font-size: 42px;
        

        transition: 1s ease;
      }
    }
  }
  .send > button:hover{
    background-color: white;
    color: black;
    
  }
  .part2{
    height: 100%;
    width: 40%;
    // background-image: linear-gradient(60deg, black, white);
    background-color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .job {
    height: 100%;
    width: 80%;
    // background-color: $Secondary_Button;
    border-left: solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    // background-image: linear-gradient(220deg, black, white);
    
    background-size: 300%;
    background-position: right;
    transition: 300ms ease-in;
    .photo {
      height: 60%;
      width: 60%;
      filter: grayscale(1);
      transition: 1s ease;
      // border-radius: 40%;

      background-color: aliceblue;
      border: solid rgb(0, 0, 0);
    }
    .photo:hover{
      filter: grayscale(0);
    }
    h2 {
      font-family: $paragraph_font;
      font-size: 42px;
    }
    .ctaction {
      width: 60%;
      height: 10%;
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      

      
      .em,
      .de {
        z-index: 2;
      }
    }
  }
}

//button class
.Emm{
  width: 15vh;
}
.Down{
  // width: 20vh;
}

.photo{
  background-image: url(../../assets/images/profile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}


.social {
  height: 100%;
  width: 20%;
  // background-color: #0077b5;
  // background-image: linear-gradient(60deg, black, white);
  border-right: solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-self: center;

  background-size: 200%;
  background-position: left;
  transition: 300ms ease-in;
  a {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

.copy {
  // height: 10vh;
  font-family: $paragraph_font;
  font-size: 26px;
  background-color: white;
  color: rgb(0, 0, 0);
}

.icon {
  font-size: 3rem;
  filter: grayscale(1);
}
.icon:hover{
  filter: grayscale(0);
  transition: 1s ease;
}
.linkedin {
  color: #0077b5;
}
.github {
  color: #171515;
}
.insta {
  border-radius: 30%;
  color: #ffffff;
  background-image: linear-gradient(
    rgb(254, 218, 117),
    rgb(250, 126, 30),
    rgb(150, 47, 191)
  );
}























@media only screen and (max-width: 800px) {
  
  .letsstart {
    font-size: 3rem;
  }
}
